<!DOCTYPE html>
<html lang="en" class="h-webkit-fill inter-font scroll-smooth">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
	<script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<title>ContactList</title>
</head>
<body class="h-screen w-full pt-16 h-webkit- antialiased dark:[color-scheme:dark]">
	
	<nav id="navbar" class="fixed top-0 right-0 left-0 bg-blue-950 h-16"></nav>

	<h1 class="max-w-6xl h-[15%] mx-auto flex justify-center items-center text-blue-950 text-center text-4xl md:text-7xl audiowide-font font-serif">ContactList</h1>

	<div class="form-inline mx-auto flex justify-center items-center p-20">
		 <input placeholder="Name..." autocomplete="off" class="shadow-2xl mx-2 font-serif rounded-lg p-2 bg-zinc-200 focus:outline-indigo-700" id="inputName" />
		 <input placeholder="Email..." autocomplete="off" class="shadow-2xl mx-2 font-serif rounded-lg p-2 bg-zinc-200 focus:outline-indigo-700" id="inputEmail" />
		 <input placeholder="Phone Number..." autocomplete="off" class="shadow-2xl mx-2 font-serif rounded-lg p-2 bg-zinc-200 focus:outline-indigo-700" id="inputPhone" />
		<div id="submitButtons"><button type="button" id="addbutton" disabled class="agregarbut disabled:cursor-not-allowed disabled:opacity-50 bg-blue-950 transition ease-in-out text-white font-bold delay-300 duration-300 hover:bg-blue-600 py-2 px-4 rounded-lg font-serif " onclick="addNewContact()">Add</button></div>
	</div>
	<table id="displayContacts" class="mx-auto justify-center items-center"></table>

	<script type="text/javascript" src="./index.js"></script>
	<script src="/components/nav.js"></script>
</body>
</html>